{"swagger":"2.0","info":{"description":"Retrieves balances and transaction information for all products except accounts","version":"v1.0.0","title":"Holdings Arrangements APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/holdings/arrangements/{arrangementId}":{"get":{"operationId":"getArrangement","produces":["application/json"],"parameters":[{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getArrangementResponse","schema":{"$ref":"#/definitions/getArrangementResponse"}},"default":{"description":"getArrangementErrorResponse","schema":{"$ref":"#/definitions/getArrangementErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getArrangementResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getArrangementResponseBody"}},"description":"getArrangementResponse"},"getArrangementResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":17},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"termAmount":{"type":"number","format":"int64","description":"The amount of an arrangement agreement that forms the basis of the agreement (e.g. the amont to be lent)"},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"productLineId":{"type":"string","description":"The identifier of the product line","maxLength":10},"category":{"type":"string","description":"","maxLength":35},"openingDate":{"type":"string","format":"date","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getArrangementErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getArrangementErrorResponseBody"}},"description":"getArrangementErrorResponse"},"getArrangementErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}