{"swagger":"2.0","info":{"description":"Retrieves balances and transaction information for a customer's accounts and arrangements","version":"v1.0.0","title":"Holdings Customers APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/holdings/customers/{customerId}/arrangements/":{"get":{"operationId":"getArrangementsForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getArrangementsForCustomerResponse","schema":{"$ref":"#/definitions/getArrangementsForCustomerResponse"}},"default":{"description":"getArrangementsForCustomerErrorResponse","schema":{"$ref":"#/definitions/getArrangementsForCustomerErrorResponse"}}}}},"/holdings/customers/{customerId}/arrangements/{arrangementId}":{"get":{"operationId":"getArrangementForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getArrangementForCustomerResponse","schema":{"$ref":"#/definitions/getArrangementForCustomerResponse"}},"default":{"description":"getArrangementForCustomerErrorResponse","schema":{"$ref":"#/definitions/getArrangementForCustomerErrorResponse"}}}}},"/holdings/customers/{customerId}/accounts/{accountId}/transactions":{"get":{"operationId":"getAccountTransactionsForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"accountId","in":"path","required":true,"type":"string"},{"name":"fromDate","in":"query","required":false,"type":"string","format":"date"},{"name":"processingDate","in":"query","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getAccountTransactionsForCustomerResponse","schema":{"$ref":"#/definitions/getAccountTransactionsForCustomerResponse"}},"default":{"description":"getAccountTransactionsForCustomerErrorResponse","schema":{"$ref":"#/definitions/getAccountTransactionsForCustomerErrorResponse"}}}}},"/holdings/customers/{customerId}/portfolios/{portfolioId}/outstandingSettlements":{"get":{"operationId":"getOutstandingSettlements","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"portfolioId","in":"path","required":true,"type":"string"},{"name":"transactionId","in":"query","required":false,"type":"string"},{"name":"brokerId","in":"query","required":false,"type":"string"},{"name":"tradeDate","in":"query","required":false,"type":"string"},{"name":"valueDate","in":"query","required":false,"type":"string"},{"name":"depository","in":"query","required":false,"type":"string"},{"name":"currency","in":"query","required":false,"type":"string"},{"name":"instrumentId","in":"query","required":false,"type":"string"},{"name":"deliveryInstruction","in":"query","required":false,"type":"string"},{"name":"transactionType","in":"query","required":false,"type":"string"},{"name":"quantity","in":"query","required":false,"type":"string"},{"name":"stockExchange","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getOutstandingSettlementsResponse","schema":{"$ref":"#/definitions/getOutstandingSettlementsResponse"}},"default":{"description":"getOutstandingSettlementsErrorResponse","schema":{"$ref":"#/definitions/getOutstandingSettlementsErrorResponse"}}}}},"/holdings/customers/{customerId}/accounts/":{"get":{"operationId":"getAccountsForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getAccountsForCustomerResponse","schema":{"$ref":"#/definitions/getAccountsForCustomerResponse"}},"default":{"description":"getAccountsForCustomerErrorResponse","schema":{"$ref":"#/definitions/getAccountsForCustomerErrorResponse"}}}}},"/holdings/customers/{customerId}/overdueSettlements":{"get":{"operationId":"getOverdueSettlementsByCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"transactionId","in":"query","required":false,"type":"string"},{"name":"portfolioId","in":"query","required":false,"type":"string"},{"name":"brokerId","in":"query","required":false,"type":"string"},{"name":"tradeDate","in":"query","required":false,"type":"string"},{"name":"valueDate","in":"query","required":false,"type":"string"},{"name":"depository","in":"query","required":false,"type":"string"},{"name":"currency","in":"query","required":false,"type":"string"},{"name":"instrumentId","in":"query","required":false,"type":"string"},{"name":"deliveryInstruction","in":"query","required":false,"type":"string"},{"name":"transactionType","in":"query","required":false,"type":"string"},{"name":"quantity","in":"query","required":false,"type":"string"},{"name":"stockExchange","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getOverdueSettlementsByCustomerResponse","schema":{"$ref":"#/definitions/getOverdueSettlementsByCustomerResponse"}},"default":{"description":"getOverdueSettlementsByCustomerErrorResponse","schema":{"$ref":"#/definitions/getOverdueSettlementsByCustomerErrorResponse"}}}}},"/holdings/customers/{customerId}/accounts/{accountId}":{"get":{"operationId":"getAccountForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"accountId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getAccountForCustomerResponse","schema":{"$ref":"#/definitions/getAccountForCustomerResponse"}},"default":{"description":"getAccountForCustomerErrorResponse","schema":{"$ref":"#/definitions/getAccountForCustomerErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getArrangementsForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getArrangementsForCustomerResponseBody"}},"description":"getArrangementsForCustomerResponse"},"getArrangementsForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":17},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"termAmount":{"type":"number","format":"int64","description":"The amount of an arrangement agreement that forms the basis of the agreement (e.g. the amont to be lent)"},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"productLineId":{"type":"string","description":"The identifier of the product line","maxLength":10},"category":{"type":"string","description":"","maxLength":35},"openingDate":{"type":"string","format":"date","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getArrangementsForCustomerErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getArrangementsForCustomerErrorResponseBody"}},"description":"getArrangementsForCustomerErrorResponse"},"getArrangementsForCustomerErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getArrangementForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getArrangementForCustomerResponseBody"}},"description":"getArrangementForCustomerResponse"},"getArrangementForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":17},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"termAmount":{"type":"number","format":"int64","description":"The amount of an arrangement agreement that forms the basis of the agreement (e.g. the amont to be lent)"},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"productLineId":{"type":"string","description":"The identifier of the product line","maxLength":10},"category":{"type":"string","description":"","maxLength":35},"openingDate":{"type":"string","format":"date","description":""}}}},"getArrangementForCustomerErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getArrangementForCustomerErrorResponseBody"}},"description":"getArrangementForCustomerErrorResponse"},"getArrangementForCustomerErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getAccountTransactionsForCustomerResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"},"data":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"customerId":{"type":"string","description":"The identifier of the customer"},"accountCurrency":{"type":"string","description":"The currency of the account"},"openingBalance":{"type":"string","description":"","maxLength":19}}}}},"getAccountTransactionsForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/getAccountTransactionsForCustomerResponseQueryHeader"},"body":{"$ref":"#/definitions/getAccountTransactionsForCustomerResponseBody"}},"description":"getAccountTransactionsForCustomerResponse"},"getAccountTransactionsForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"bookingDate":{"type":"string","format":"date","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":150},"transactionName":{"type":"string","description":"The name of the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"transactionAmount":{"type":"number","format":"int64","description":"The transaction amount"},"debitCreditIndicator":{"type":"string","description":""},"transactionTotal":{"type":"string","description":"The total amount of the transaction"}}}},"getAccountTransactionsForCustomerErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getAccountTransactionsForCustomerErrorResponseBody"}},"description":"getAccountTransactionsForCustomerErrorResponse"},"getAccountTransactionsForCustomerErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getOutstandingSettlementsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getOutstandingSettlementsResponseBody"}},"description":"getOutstandingSettlementsResponse"},"getOutstandingSettlementsResponseBody":{"type":"array","items":{"type":"object","properties":{"broker":{"type":"array","description":"","items":{"type":"object","properties":{"brokerId":{"type":"string","description":"The identifier of the broker","maxLength":10},"brokerName":{"type":"string","description":"The name that is displayed for the broker","maxLength":10},"nostro":{"type":"string","description":""},"nostroCurrency":{"type":"string","description":"The currency of the nostro"},"brokerOutstandingAmount":{"type":"number","format":"int64","description":"The amount outstanding for the broker"},"brokerOutstandingQuantity":{"type":"string","description":"The quantity of the instrument outstanding for the broker","maxLength":19}}}},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":97},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"depository":{"type":"string","description":"","maxLength":10},"depositoryName":{"type":"string","description":"The name that is displayed for the depository"},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade","maxLength":3},"quantity":{"type":"string","description":"The nominal quantity","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":10},"accountCurrency":{"type":"string","description":"The currency of the account","maxLength":3},"customerOutstandingAmount":{"type":"number","format":"int64","description":""},"customerOutstandingQuantity":{"type":"string","description":"","maxLength":19}}}},"getOutstandingSettlementsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getOutstandingSettlementsErrorResponseBody"}},"description":"getOutstandingSettlementsErrorResponse"},"getOutstandingSettlementsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getAccountsForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getAccountsForCustomerResponseBody"}},"description":"getAccountsForCustomerResponse"},"getAccountsForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"productName":{"type":"string","description":"The name that is displayed for the product"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":16},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"lockedAmount":{"type":"number","format":"int64","description":"The amount of funds that have been blocked (reserved) for specific purposes"},"workingBalance":{"type":"number","format":"int64","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."},"onlineActualBalance":{"type":"number","format":"int64","description":"Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."},"availableBalance":{"type":"number","format":"int64","description":"Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"availableLimit":{"type":"string","description":"The amount of an allocated credit limit that is available for the nomniated customer to utilise","maxLength":19},"IBAN":{"type":"string","description":"","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"openingDate":{"type":"string","format":"date","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account","maxLength":10},"clearedBalance":{"type":"number","format":"int64","description":"Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future."}}}},"getAccountsForCustomerErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getAccountsForCustomerErrorResponseBody"}},"description":"getAccountsForCustomerErrorResponse"},"getAccountsForCustomerErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getOverdueSettlementsByCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getOverdueSettlementsByCustomerResponseBody"}},"description":"getOverdueSettlementsByCustomerResponse"},"getOverdueSettlementsByCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"broker":{"type":"array","description":"","items":{"type":"object","properties":{"brokerId":{"type":"string","description":"The identifier of the broker","maxLength":10},"brokerName":{"type":"string","description":"The name that is displayed for the broker","maxLength":10},"nostro":{"type":"string","description":""},"nostroCurrency":{"type":"string","description":"The currency of the nostro"},"brokerOutstandingAmount":{"type":"number","format":"int64","description":"The amount outstanding for the broker"},"brokerOutstandingQuantity":{"type":"string","description":"The quantity of the instrument outstanding for the broker","maxLength":19}}}},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":97},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"depository":{"type":"string","description":"","maxLength":10},"depositoryName":{"type":"string","description":"The name that is displayed for the depository"},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade","maxLength":3},"quantity":{"type":"string","description":"The nominal quantity","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":10},"accountCurrency":{"type":"string","description":"The currency of the account","maxLength":3},"customerOutstandingAmount":{"type":"number","format":"int64","description":""},"customerOutstandingQuantity":{"type":"string","description":"","maxLength":19}}}},"getOverdueSettlementsByCustomerErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getOverdueSettlementsByCustomerErrorResponseBody"}},"description":"getOverdueSettlementsByCustomerErrorResponse"},"getOverdueSettlementsByCustomerErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getAccountForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getAccountForCustomerResponseBody"}},"description":"getAccountForCustomerResponse"},"getAccountForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"productName":{"type":"string","description":"The name that is displayed for the product"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":16},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"lockedAmount":{"type":"number","format":"int64","description":"The amount of funds that have been blocked (reserved) for specific purposes"},"workingBalance":{"type":"number","format":"int64","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."},"onlineActualBalance":{"type":"number","format":"int64","description":"Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."},"availableBalance":{"type":"number","format":"int64","description":"Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"availableLimit":{"type":"string","description":"The amount of an allocated credit limit that is available for the nomniated customer to utilise","maxLength":19},"IBAN":{"type":"string","description":"","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"openingDate":{"type":"string","format":"date","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account","maxLength":10},"clearedBalance":{"type":"number","format":"int64","description":"Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future."}}}},"getAccountForCustomerErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getAccountForCustomerErrorResponseBody"}},"description":"getAccountForCustomerErrorResponse"},"getAccountForCustomerErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}