{"swagger":"2.0","info":{"description":"Retrieves Nostro position information for the legal entity","version":"v1.0.0","title":"Holdings Nostros APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/holdings/nostros/forwardBalances":{"get":{"operationId":"getNostroForwardBalances","produces":["application/json"],"parameters":[{"name":"toDate","in":"query","required":false,"type":"string","format":"date"},{"name":"accountId","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getNostroForwardBalancesResponse","schema":{"$ref":"#/definitions/getNostroForwardBalancesResponse"}},"default":{"description":"getNostroForwardBalancesErrorResponse","schema":{"$ref":"#/definitions/getNostroForwardBalancesErrorResponse"}}}}},"/holdings/nostros/currencyBalances/{currencyId}":{"get":{"operationId":"getNostroBalances","produces":["application/json"],"parameters":[{"name":"currencyId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getNostroBalancesResponse","schema":{"$ref":"#/definitions/getNostroBalancesResponse"}},"default":{"description":"getNostroBalancesErrorResponse","schema":{"$ref":"#/definitions/getNostroBalancesErrorResponse"}}}}}},"definitions":{"getNostroForwardBalancesResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"},"data":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":19},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":19},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":19},"currency":{"type":"string","description":"","maxLength":19},"openingBalance":{"type":"string","description":""}}}}},"getNostroForwardBalancesResponse":{"properties":{"header":{"$ref":"#/definitions/getNostroForwardBalancesResponseQueryHeader"},"body":{"$ref":"#/definitions/getNostroForwardBalancesResponseBody"}},"description":"getNostroForwardBalancesResponse"},"getNostroForwardBalancesResponseBody":{"type":"array","items":{"type":"object","properties":{"valueDate":{"type":"string","description":"The applicable value date"},"transactionName":{"type":"string","description":"The name of the transaction","maxLength":10},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":150},"bookingDate":{"type":"string","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day.","maxLength":11},"balance":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getNostroForwardBalancesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getNostroForwardBalancesErrorResponseBody"}},"description":"getNostroForwardBalancesErrorResponse"},"getNostroForwardBalancesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getNostroBalancesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getNostroBalancesResponseBody"}},"description":"getNostroBalancesResponse"},"getNostroBalancesResponseBody":{"type":"array","items":{"type":"object","properties":{"balances":{"type":"array","description":"","items":{"type":"object","properties":{"date":{"type":"array","items":{"type":"string"}},"balance":{"type":"array","items":{"type":"string"}}}}},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":3}}}},"getNostroBalancesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getNostroBalancesErrorResponseBody"}},"description":"getNostroBalancesErrorResponse"},"getNostroBalancesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}