{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of payment orders","version":"v1.0.0","title":"Order Payment Orders APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/order/paymentOrders":{"get":{"operationId":"getPaymentOrders","produces":["application/json"],"parameters":[{"name":"paymentStatus","in":"query","required":false,"type":"string"},{"name":"systemStatus","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentOrdersResponse","schema":{"$ref":"#/definitions/getPaymentOrdersResponse"}},"default":{"description":"getPaymentOrdersErrorResponse","schema":{"$ref":"#/definitions/getPaymentOrdersErrorResponse"}}}},"post":{"operationId":"createPaymentOrder","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createPaymentOrder"}},{"name":"validate_only","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"createPaymentOrderResponse","schema":{"$ref":"#/definitions/createPaymentOrderResponse"}},"default":{"description":"createPaymentOrderErrorResponse","schema":{"$ref":"#/definitions/createPaymentOrderErrorResponse"}}}}},"/order/paymentOrders/{paymentOrderId}/":{"put":{"operationId":"updatePaymentOrder","produces":["application/json"],"parameters":[{"name":"paymentOrderId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/updatePaymentOrder"}},{"name":"validate_only","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"updatePaymentOrderResponse","schema":{"$ref":"#/definitions/updatePaymentOrderResponse"}},"default":{"description":"updatePaymentOrderErrorResponse","schema":{"$ref":"#/definitions/updatePaymentOrderErrorResponse"}}}}},"/order/paymentOrders/countryRules":{"get":{"operationId":"getPaymentOrderCountryRules","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentOrderCountryRulesResponse","schema":{"$ref":"#/definitions/getPaymentOrderCountryRulesResponse"}},"default":{"description":"getPaymentOrderCountryRulesErrorResponse","schema":{"$ref":"#/definitions/getPaymentOrderCountryRulesErrorResponse"}}}}},"/order/paymentOrders/products":{"get":{"operationId":"getPaymentOrderProducts","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentOrderProductsResponse","schema":{"$ref":"#/definitions/getPaymentOrderProductsResponse"}},"default":{"description":"getPaymentOrderProductsErrorResponse","schema":{"$ref":"#/definitions/getPaymentOrderProductsErrorResponse"}}}}},"/order/paymentOrders/purposes/":{"get":{"operationId":"getPaymentOrderPurposes","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentOrderPurposesResponse","schema":{"$ref":"#/definitions/getPaymentOrderPurposesResponse"}},"default":{"description":"getPaymentOrderPurposesErrorResponse","schema":{"$ref":"#/definitions/getPaymentOrderPurposesErrorResponse"}}}}},"/order/paymentOrders/{paymentOrderId}":{"get":{"operationId":"getPaymentOrder","produces":["application/json"],"parameters":[{"name":"paymentOrderId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentOrderResponse","schema":{"$ref":"#/definitions/getPaymentOrderResponse"}},"default":{"description":"getPaymentOrderErrorResponse","schema":{"$ref":"#/definitions/getPaymentOrderErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"type":"object","properties":{"override_acceptId":{"type":"string"}}},"createPaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createPaymentOrderBody"}},"description":"createPaymentOrder"},"createPaymentOrderBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"Value date for debit"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies"},"transactionAmount":{"type":"number","format":"int64","description":"The transaction amount"},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"orderingPaymentTreasuryRate":{"type":"string","description":"The treasury rate for the conversion between payment currency and ordering currency        "},"orderingPaymentFxSpread":{"type":"string","description":"The customer spread for the conversion between payment currency and ordering currency"},"orderingPaymentFxCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"}}},"ScreenHeader":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"transactionStatus":{"type":"string"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"createPaymentOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createPaymentOrderResponseBody"}},"description":"createPaymentOrderResponse"},"createPaymentOrderResponseBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"Value date for debit"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies"},"transactionAmount":{"type":"number","format":"int64","description":"The transaction amount"},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"orderingPaymentTreasuryRate":{"type":"string","description":"The treasury rate for the conversion between payment currency and ordering currency        "},"orderingPaymentFxSpread":{"type":"string","description":"The customer spread for the conversion between payment currency and ordering currency"},"orderingPaymentFxCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"}}},"ErrorHeader":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"transactionStatus":{"type":"string"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"createPaymentOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createPaymentOrderErrorResponseBody"}},"description":"createPaymentOrderErrorResponse"},"createPaymentOrderErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}}},"type":{"type":"string"}}},"updatePaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updatePaymentOrderBody"}},"description":"updatePaymentOrder"},"updatePaymentOrderBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"Value date for debit"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies"},"transactionAmount":{"type":"number","format":"int64","description":"The transaction amount"},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"orderingPaymentTreasuryRate":{"type":"string","description":"The treasury rate for the conversion between payment currency and ordering currency        "},"orderingPaymentFxSpread":{"type":"string","description":"The customer spread for the conversion between payment currency and ordering currency"},"orderingPaymentFxCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"}}},"updatePaymentOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updatePaymentOrderResponseBody"}},"description":"updatePaymentOrderResponse"},"updatePaymentOrderResponseBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"Value date for debit"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies"},"transactionAmount":{"type":"number","format":"int64","description":"The transaction amount"},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"orderingPaymentTreasuryRate":{"type":"string","description":"The treasury rate for the conversion between payment currency and ordering currency        "},"orderingPaymentFxSpread":{"type":"string","description":"The customer spread for the conversion between payment currency and ordering currency"},"orderingPaymentFxCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"}}},"updatePaymentOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updatePaymentOrderErrorResponseBody"}},"description":"updatePaymentOrderErrorResponse"},"updatePaymentOrderErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}}},"type":{"type":"string"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getPaymentOrderCountryRulesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentOrderCountryRulesResponseBody"}},"description":"getPaymentOrderCountryRulesResponse"},"getPaymentOrderCountryRulesResponseBody":{"type":"array","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes","maxLength":65},"IBAN":{"type":"string","description":"","maxLength":35},"BIC":{"type":"string","description":"","maxLength":35},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held","maxLength":35},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order","maxLength":35},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies","maxLength":3}}}},"getPaymentOrderCountryRulesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentOrderCountryRulesErrorResponseBody"}},"description":"getPaymentOrderCountryRulesErrorResponse"},"getPaymentOrderCountryRulesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPaymentOrderProductsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentOrderProductsResponseBody"}},"description":"getPaymentOrderProductsResponse"},"getPaymentOrderProductsResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product","maxLength":10},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"paymentProductGroup":{"type":"string","description":"The product group to which the payment belongs e.g. 'Account to Account Transfers', 'Domestic' or 'International' etc","maxLength":35},"rank":{"type":"string","description":"the rank of the product","maxLength":10},"payThroughBeneficiary":{"type":"string","description":"Defines whether Payment is done through the Beneficiary or not","maxLength":35},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies","maxLength":3},"orderingCurrency":{"type":"string","description":"The transaction ordering currency","maxLength":3},"futureDate":{"type":"string","description":"","maxLength":35},"requiredCreditValue":{"type":"string","description":"Defines whether the credit value date is required","maxLength":35},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":2},"IBAN":{"type":"string","description":"","maxLength":35},"BIC":{"type":"string","description":"","maxLength":35},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held","maxLength":35},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order","maxLength":35},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":65},"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":120},"weblink":{"type":"string","description":"The weblink for additional information","maxLength":70},"allowFx":{"type":"string","description":"Defines whether credit and debit amounts may be in different currencies. ","maxLength":3},"defaultChargeOption":{"type":"string","description":"Default Charger bearer for the product, e.g. a)None b)Recipient To Pay All Charges c)Pay My Bank's Charges d) Pay My Bank Charges Only.","maxLength":35}}}},"getPaymentOrderProductsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentOrderProductsErrorResponseBody"}},"description":"getPaymentOrderProductsErrorResponse"},"getPaymentOrderProductsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPaymentOrderPurposesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentOrderPurposesResponseBody"}},"description":"getPaymentOrderPurposesResponse"},"getPaymentOrderPurposesResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentOrderPurposeCodeId":{"type":"string","description":"The identifier of the payment order purpose code","maxLength":4},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":70},"classification":{"type":"string","description":"","maxLength":70},"definition":{"type":"string","description":"","maxLength":120}}}},"getPaymentOrderPurposesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentOrderPurposesErrorResponseBody"}},"description":"getPaymentOrderPurposesErrorResponse"},"getPaymentOrderPurposesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPaymentOrdersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentOrdersResponseBody"}},"description":"getPaymentOrdersResponse"},"getPaymentOrdersResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentOrderId":{"type":"string","description":"The identifier of the payment order","maxLength":35},"productId":{"type":"string","description":"The identifier of the product","maxLength":35},"debitAccountId":{"type":"string","description":"The identifier of the debit account","maxLength":19},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account","maxLength":35},"debitCurrency":{"type":"string","description":"Currency of the debit account","maxLength":3},"debitValueDate":{"type":"string","description":"Value date for debit","maxLength":11},"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":19},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account","maxLength":35},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer","maxLength":35},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer","maxLength":140},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"string","description":"","maxLength":19},"executionDate":{"type":"string","description":"Processing date of the transaction","maxLength":11},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency","maxLength":11},"forexSpread":{"type":"string","description":"","maxLength":12},"forexCustomerRate":{"type":"string","description":"","maxLength":11},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":65},"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":65},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier","maxLength":18},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit","maxLength":18},"remittanceInformation":{"type":"string","description":"The Information about remittance","maxLength":35},"orderingReference":{"type":"string","description":"The reference related to the ordering details","maxLength":18},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order","maxLength":35},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer ","maxLength":35},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary","maxLength":35},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":27},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank","maxLength":35},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account.","maxLength":35},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order","maxLength":35},"structuredCreditorReference":{"type":"string","description":"","maxLength":65},"beneficiaryCountryCode":{"type":"string","description":"","maxLength":2},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account","maxLength":35},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":35},"signatory":{"type":"string","description":"The authorised signatories","maxLength":35},"requiredCreditValueDate":{"type":"string","description":"The credit value date i.e. tentative date on which the payment system will process the payment","maxLength":11},"purpose":{"type":"string","description":"","maxLength":65},"invoiceReference":{"type":"string","description":"It provides the reference of the invoice ","maxLength":35},"structuredCommunicationCode":{"type":"string","description":"","maxLength":35},"structuredIssuer":{"type":"string","description":"","maxLength":65},"endToEndReference":{"type":"string","description":"This field is used for SEPA","maxLength":35},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment","maxLength":35},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions","maxLength":120},"systemStatus":{"type":"string","description":"The status of the system","maxLength":35},"currentStatus":{"type":"string","description":"Current state of the payment order","maxLength":65},"internalStatus":{"type":"string","description":"This field shows the status of the payment order like: Cancel, Error, Reject & Return ","maxLength":35},"systemId":{"type":"string","description":"The system application identifier from which the entry was generated","maxLength":35}}}},"getPaymentOrdersErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentOrdersErrorResponseBody"}},"description":"getPaymentOrdersErrorResponse"},"getPaymentOrdersErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPaymentOrderResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentOrderResponseBody"}},"description":"getPaymentOrderResponse"},"getPaymentOrderResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentOrderId":{"type":"string","description":"The identifier of the payment order","maxLength":35},"productId":{"type":"string","description":"The identifier of the product","maxLength":35},"debitAccountId":{"type":"string","description":"The identifier of the debit account","maxLength":19},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account","maxLength":35},"debitCurrency":{"type":"string","description":"Currency of the debit account","maxLength":3},"debitValueDate":{"type":"string","description":"Value date for debit","maxLength":11},"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":19},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account","maxLength":35},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer","maxLength":35},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer","maxLength":140},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"string","description":"","maxLength":19},"executionDate":{"type":"string","description":"Processing date of the transaction","maxLength":11},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency","maxLength":11},"forexSpread":{"type":"string","description":"","maxLength":12},"forexCustomerRate":{"type":"string","description":"","maxLength":11},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":65},"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":65},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier","maxLength":18},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit","maxLength":18},"remittanceInformation":{"type":"string","description":"The Information about remittance","maxLength":35},"orderingReference":{"type":"string","description":"The reference related to the ordering details","maxLength":18},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order","maxLength":35},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer ","maxLength":35},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary","maxLength":35},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":27},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank","maxLength":35},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account.","maxLength":35},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order","maxLength":35},"structuredCreditorReference":{"type":"string","description":"","maxLength":65},"beneficiaryCountryCode":{"type":"string","description":"","maxLength":2},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account","maxLength":35},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":35},"signatory":{"type":"string","description":"The authorised signatories","maxLength":35},"requiredCreditValueDate":{"type":"string","description":"The credit value date i.e. tentative date on which the payment system will process the payment","maxLength":11},"purpose":{"type":"string","description":"","maxLength":65},"invoiceReference":{"type":"string","description":"It provides the reference of the invoice ","maxLength":35},"structuredCommunicationCode":{"type":"string","description":"","maxLength":35},"structuredIssuer":{"type":"string","description":"","maxLength":65},"endToEndReference":{"type":"string","description":"This field is used for SEPA","maxLength":35},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment","maxLength":35},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions","maxLength":120},"systemStatus":{"type":"string","description":"The status of the system","maxLength":35},"currentStatus":{"type":"string","description":"Current state of the payment order","maxLength":65},"internalStatus":{"type":"string","description":"This field shows the status of the payment order like: Cancel, Error, Reject & Return ","maxLength":35},"systemId":{"type":"string","description":"The system application identifier from which the entry was generated","maxLength":35}}}},"getPaymentOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentOrderErrorResponseBody"}},"description":"getPaymentOrderErrorResponse"},"getPaymentOrderErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}