{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of payments and transfers","version":"v1.0.0","title":"Order Payments APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/order/payments/fees":{"get":{"operationId":"getPaymentFeesAndCharges","produces":["application/json"],"parameters":[{"name":"transactionReference","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentFeesAndChargesResponse","schema":{"$ref":"#/definitions/getPaymentFeesAndChargesResponse"}},"default":{"description":"getPaymentFeesAndChargesErrorResponse","schema":{"$ref":"#/definitions/getPaymentFeesAndChargesErrorResponse"}}}}},"/order/payments/paymentStatus":{"get":{"operationId":"getPaymentsAuditTrail","produces":["application/json"],"parameters":[{"name":"transactionReference","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentsAuditTrailResponse","schema":{"$ref":"#/definitions/getPaymentsAuditTrailResponse"}},"default":{"description":"getPaymentsAuditTrailErrorResponse","schema":{"$ref":"#/definitions/getPaymentsAuditTrailErrorResponse"}}}}},"/order/payments/{paymentId}/paymentStatus":{"get":{"operationId":"getPaymentAuditTrail","produces":["application/json"],"parameters":[{"name":"paymentId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPaymentAuditTrailResponse","schema":{"$ref":"#/definitions/getPaymentAuditTrailResponse"}},"default":{"description":"getPaymentAuditTrailErrorResponse","schema":{"$ref":"#/definitions/getPaymentAuditTrailErrorResponse"}}}}},"/order/payments/pendingOrders":{"get":{"operationId":"getPendingPayments","produces":["application/json"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"string"},{"name":"processingDate","in":"query","required":false,"type":"string","format":"date"},{"name":"transactionReference","in":"query","required":false,"type":"string"},{"name":"direction","in":"query","required":false,"type":"string"},{"name":"paymentCurrency","in":"query","required":false,"type":"string"},{"name":"toAmount","in":"query","required":false,"type":"number"},{"name":"debitCustomerId","in":"query","required":false,"type":"string"},{"name":"creditCustomerId","in":"query","required":false,"type":"string"},{"name":"debitCurrency","in":"query","required":false,"type":"string"},{"name":"debitAccountId","in":"query","required":false,"type":"string"},{"name":"creditAccountId","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPendingPaymentsResponse","schema":{"$ref":"#/definitions/getPendingPaymentsResponse"}},"default":{"description":"getPendingPaymentsErrorResponse","schema":{"$ref":"#/definitions/getPendingPaymentsErrorResponse"}}}}},"/order/payments/pendingRepairOrders":{"get":{"operationId":"getPendingRepairPayments","produces":["application/json"],"parameters":[{"name":"processingDate","in":"query","required":false,"type":"string"},{"name":"direction","in":"query","required":false,"type":"string"},{"name":"transactionCurrency","in":"query","required":false,"type":"string"},{"name":"transactionAmount","in":"query","required":false,"type":"string"},{"name":"debitCurrencyId","in":"query","required":false,"type":"string"},{"name":"debitAccountId","in":"query","required":false,"type":"string"},{"name":"creditCurrencyId","in":"query","required":false,"type":"string"},{"name":"creditAccountId","in":"query","required":false,"type":"string"},{"name":"sendersReference","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPendingRepairPaymentsResponse","schema":{"$ref":"#/definitions/getPendingRepairPaymentsResponse"}},"default":{"description":"getPendingRepairPaymentsErrorResponse","schema":{"$ref":"#/definitions/getPendingRepairPaymentsErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getPaymentFeesAndChargesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentFeesAndChargesResponseBody"}},"description":"getPaymentFeesAndChargesResponse"},"getPaymentFeesAndChargesResponseBody":{"type":"array","items":{"type":"object","properties":{"feeType":{"type":"string","description":"Indicates the Fee type applied from the PPT.FEETYPE table","maxLength":35},"feeName":{"type":"string","description":"The name that is displayed for the fee - describes the fee type","maxLength":35},"chargeType":{"type":"string","description":"The type of charge","maxLength":1},"feeCurrency":{"type":"string","description":"Holds the currency code in which the fee will be charged.","maxLength":3},"feeAmount":{"type":"string","description":"Holds the charge amount equivalent in fee currency","maxLength":15},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted","maxLength":3},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency","maxLength":15},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order","maxLength":1}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getPaymentFeesAndChargesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentFeesAndChargesErrorResponseBody"}},"description":"getPaymentFeesAndChargesErrorResponse"},"getPaymentFeesAndChargesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPaymentsAuditTrailResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentsAuditTrailResponseBody"}},"description":"getPaymentsAuditTrailResponse"},"getPaymentsAuditTrailResponseBody":{"type":"array","items":{"type":"object","properties":{"eventId":{"type":"string","description":"The identifier of the event","maxLength":3},"eventName":{"type":"string","description":"The name that is displayed for the event"},"errorCode":{"type":"string","description":"Indicates the Error Code of the event that is logged.","maxLength":10},"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":128},"dateTime":{"type":"string","description":"","maxLength":11}}}},"getPaymentsAuditTrailErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentsAuditTrailErrorResponseBody"}},"description":"getPaymentsAuditTrailErrorResponse"},"getPaymentsAuditTrailErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPaymentAuditTrailResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPaymentAuditTrailResponseBody"}},"description":"getPaymentAuditTrailResponse"},"getPaymentAuditTrailResponseBody":{"type":"array","items":{"type":"object","properties":{"eventId":{"type":"string","description":"The identifier of the event","maxLength":3},"eventName":{"type":"string","description":"The name that is displayed for the event"},"errorCode":{"type":"string","description":"Indicates the Error Code of the event that is logged.","maxLength":10},"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":128},"dateTime":{"type":"string","description":"","maxLength":11}}}},"getPaymentAuditTrailErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPaymentAuditTrailErrorResponseBody"}},"description":"getPaymentAuditTrailErrorResponse"},"getPaymentAuditTrailErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPendingPaymentsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPendingPaymentsResponseBody"}},"description":"getPendingPaymentsResponse"},"getPendingPaymentsResponseBody":{"type":"array","items":{"type":"object","properties":{"company":{"type":"string","description":""},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":16},"currency":{"type":"string","description":""},"amount":{"type":"string","description":"","maxLength":17},"direction":{"type":"string","description":"Specify the direction of the Direct debit claim for which mandate is received.The Claim can be 'Outward' ie. Claim is sent to the Customer's Bank or Inward Claim ie. other Bank submit their claim.Currently the Outward claim processing is supported through DD module & for Inward claim has to be handled through local interface.Mandatory field-Value allowed 'OUTWARD'","maxLength":1},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"date":{"type":"string","description":"","maxLength":10},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"sendersReference":{"type":"string","description":"The senders reference","maxLength":16},"paymentStatus":{"type":"string","description":"","maxLength":3},"displayName":{"type":"string","description":"The name used for display purposes"},"receivedAt":{"type":"string","description":"The date and time the record was created","maxLength":17}}}},"getPendingPaymentsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPendingPaymentsErrorResponseBody"}},"description":"getPendingPaymentsErrorResponse"},"getPendingPaymentsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getPendingRepairPaymentsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPendingRepairPaymentsResponseBody"}},"description":"getPendingRepairPaymentsResponse"},"getPendingRepairPaymentsResponseBody":{"type":"array","items":{"type":"object","properties":{"company":{"type":"string","description":"","maxLength":3},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":16},"transactionCurrency":{"type":"string","description":"The currency in which the transaction is made","maxLength":3},"transactionAmount":{"type":"string","description":"The transaction amount","maxLength":17},"paymentSource":{"type":"string","description":"The source from which the payment is made","maxLength":10},"paymentDirection":{"type":"string","description":"Identifies whether a payment is inbound or outbound to the bank","maxLength":35},"paymentType":{"type":"string","description":"The payment type identifier","maxLength":35},"paymentId":{"type":"string","description":"The identifier of the payment","maxLength":255}}}},"getPendingRepairPaymentsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPendingRepairPaymentsErrorResponseBody"}},"description":"getPendingRepairPaymentsErrorResponse"},"getPendingRepairPaymentsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}