{"swagger":"2.0","info":{"description":"Retrieve product property class information, used in building products","version":"v1.0.0","title":"Product Property Classes APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/product/propertyClasses":{"get":{"operationId":"getPropertyClasses","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPropertyClassesResponse","schema":{"$ref":"#/definitions/getPropertyClassesResponse"}},"default":{"description":"getPropertyClassesErrorResponse","schema":{"$ref":"#/definitions/getPropertyClassesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getPropertyClassesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPropertyClassesResponseBody"}},"description":"getPropertyClassesResponse"},"getPropertyClassesResponseBody":{"type":"array","items":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes","maxLength":50}}}},"propertyClassId":{"type":"string","description":"The identifier of the property class","maxLength":29},"propertyClassName":{"type":"string","description":"The name that is displayed for the property class","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getPropertyClassesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPropertyClassesErrorResponseBody"}},"description":"getPropertyClassesErrorResponse"},"getPropertyClassesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}