{"swagger":"2.0","info":{"description":"Retrieves product condition information","version":"v1.0.0","title":"Product Product Conditions APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/product/productConditions":{"get":{"operationId":"getProductConditions","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getProductConditionsResponse","schema":{"$ref":"#/definitions/getProductConditionsResponse"}},"default":{"description":"getProductConditionsErrorResponse","schema":{"$ref":"#/definitions/getProductConditionsErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getProductConditionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getProductConditionsResponseBody"}},"description":"getProductConditionsResponse"},"getProductConditionsResponseBody":{"type":"array","items":{"type":"object","properties":{"productConditionId":{"type":"string","description":"The identifier of the product condition","maxLength":50},"productConditionName":{"type":"string","description":"The name that is displayed for the product condition","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getProductConditionsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getProductConditionsErrorResponseBody"}},"description":"getProductConditionsErrorResponse"},"getProductConditionsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}