{"swagger":"2.0","info":{"description":"Retrieves human readable descriptions of interest conditions","version":"v1.0.0","title":"Reference Rate Texts API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/rateTexts":{"get":{"operationId":"getRateTexts","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getRateTextsResponse","schema":{"$ref":"#/definitions/getRateTextsResponse"}},"default":{"description":"getRateTextsErrorResponse","schema":{"$ref":"#/definitions/getRateTextsErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getRateTextsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getRateTextsResponseBody"}},"description":"getRateTextsResponse"},"getRateTextsResponseBody":{"type":"array","items":{"type":"object","properties":{"rateTextId":{"type":"string","description":"The interest or tax rate identifier","maxLength":4},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":15}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getRateTextsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getRateTextsErrorResponseBody"}},"description":"getRateTextsErrorResponse"},"getRateTextsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}