{"swagger":"2.0","info":{"description":"Retrieves the country information that is used by the legal entity, either a list of countries or a specific country by ISO 3166-1 alpha-2  code.","version":"v1.0.0","title":"Reference Countries API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/countries":{"get":{"operationId":"getCountries","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getCountriesResponse","schema":{"$ref":"#/definitions/getCountriesResponse"}},"default":{"description":"getCountriesErrorResponse","schema":{"$ref":"#/definitions/getCountriesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getCountriesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getCountriesResponseBody"}},"description":"getCountriesResponse"},"getCountriesResponseBody":{"type":"array","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":9},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getCountriesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getCountriesErrorResponseBody"}},"description":"getCountriesErrorResponse"},"getCountriesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}