{"swagger":"2.0","info":{"description":"Retrieves the currency information that is used by the legal entity, either a list of currencies or a specific currency by ISO 4217  code.","version":"v1.0.0","title":"Reference Currencies API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/currencies":{"get":{"operationId":"getCurrencies","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getCurrenciesResponse","schema":{"$ref":"#/definitions/getCurrenciesResponse"}},"default":{"description":"getCurrenciesErrorResponse","schema":{"$ref":"#/definitions/getCurrenciesErrorResponse"}}}}},"/reference/currencies/{currencyId}":{"get":{"operationId":"getCurrency","produces":["application/json"],"parameters":[{"name":"currencyId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getCurrencyResponse","schema":{"$ref":"#/definitions/getCurrencyResponse"}},"default":{"description":"getCurrencyErrorResponse","schema":{"$ref":"#/definitions/getCurrencyErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getCurrenciesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getCurrenciesResponseBody"}},"description":"getCurrenciesResponse"},"getCurrenciesResponseBody":{"type":"array","items":{"type":"object","properties":{"markets":{"type":"array","description":"","items":{"type":"object","properties":{"market":{"type":"array","items":{"type":"string"}},"buyRate":{"type":"array","items":{"type":"string"}},"sellRate":{"type":"array","items":{"type":"string"}}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getCurrenciesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getCurrenciesErrorResponseBody"}},"description":"getCurrenciesErrorResponse"},"getCurrenciesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getCurrencyResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getCurrencyResponseBody"}},"description":"getCurrencyResponse"},"getCurrencyResponseBody":{"type":"array","items":{"type":"object","properties":{"markets":{"type":"array","description":"","items":{"type":"object","properties":{"market":{"type":"array","items":{"type":"string"}},"buyRate":{"type":"array","items":{"type":"string"}},"sellRate":{"type":"array","items":{"type":"string"}}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"getCurrencyErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getCurrencyErrorResponseBody"}},"description":"getCurrencyErrorResponse"},"getCurrencyErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}