{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of security orders","version":"v1.0.0","title":"Order Security Orders APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/order/securityOrders/{securityOrderId}":{"get":{"operationId":"getSecurityOrder","produces":["application/json"],"parameters":[{"name":"securityOrderId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"getSecurityOrderResponse","schema":{"$ref":"#/definitions/getSecurityOrderResponse"}},"default":{"description":"getSecurityOrderErrorResponse","schema":{"$ref":"#/definitions/getSecurityOrderErrorResponse"}}}},"put":{"operationId":"updateSecurityOrder","produces":["application/json"],"parameters":[{"name":"securityOrderId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/updateSecurityOrder"}},{"name":"validate_only","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateSecurityOrderResponse","schema":{"$ref":"#/definitions/updateSecurityOrderResponse"}},"default":{"description":"updateSecurityOrderErrorResponse","schema":{"$ref":"#/definitions/updateSecurityOrderErrorResponse"}}}}},"/order/securityOrders":{"post":{"operationId":"createSecurityOrder","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createSecurityOrder"}},{"name":"validate_only","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"createSecurityOrderResponse","schema":{"$ref":"#/definitions/createSecurityOrderResponse"}},"default":{"description":"createSecurityOrderErrorResponse","schema":{"$ref":"#/definitions/createSecurityOrderErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"type":"object","properties":{"override_acceptId":{"type":"string"}}},"updateSecurityOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateSecurityOrderBody"}},"description":"updateSecurityOrder"},"updateSecurityOrderBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depository":{"type":"string","description":""},"quantity":{"type":"number","description":"The nominal quantity"},"amount":{"type":"number","format":"int64","description":""},"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"price":{"type":"string","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"calculateCharges":{"type":"string","description":"Indiciates whether charges will be calculated. YES or NO."},"chargesGrossOrNet":{"type":"string","description":"Indicates whether the cash amount is to include charges (NET) or havecharges applied in addition (GROSS). If NET, the nominal will be calculated so that when the charges are added to the transaction. If GROSS, the nominal is calculated then the charges are added. NET or GROSS"},"rounding":{"type":"string","description":"Defines the rounding type for the amount calculated or input"},"adjustCommission":{"type":"string","description":"Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."},"customerInstructions":{"type":"string","description":""},"settlementCurrency":{"type":"string","description":"The currency of the trade settlement"},"brokerCommission":{"type":"string","description":"Specifies the amount of Broker Commission charged to the Customer for the tradeField length is 1-15 numeric characters with 0-9 decimal places.The number of decimal places is dependant on the number of decimal places stated on the CURRENCY file, for theTRADE.CCYInput will be carried forward into the subsequent field on SC.EXE.SEC.ORDERS record created"},"foreignFee":{"type":"string","description":"This field Records the Foreign Fee amount charged to the Customer for the trade."},"commission":{"type":"number","format":"int64","description":""},"stampTax":{"type":"string","description":"The Stamp Tax amount charged to the Customer for the trade"},"EBVFee":{"type":"string","description":"This field Records the amount of EBV Fees charged to the Customer for the trade."},"miscellaneousFees":{"type":"string","description":"The amount of miscellaneous fees charged to the Customer for the trade"},"incomeAccount":{"type":"string","description":""},"incomeAccountCurrency":{"type":"string","description":""},"orderAmount":{"type":"number","format":"int64","description":"The amount of the order"},"customerChargeTaxTypes":{"type":"array","items":{"type":"object","properties":{"customerChargeTaxType":{"type":"string","description":""},"customerChargeTaxAmount":{"type":"number","format":"int64","description":""},"customerChargeTaxCode":{"type":"string","description":""}}}}}}},"transactionChannel":{"type":"string","description":"The channel through which the transaction has been placed"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"transactionType":{"type":"string","description":""},"orderDate":{"type":"string","format":"date","description":"The order date of the instructions contained within the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"orderedAt":{"type":"string","description":"The time at which the order has been transacted"},"orderType":{"type":"string","description":"Defines the order type of the transaction"},"limitPrice":{"type":"number","format":"int64","description":"The Price at which the shares are to be bought or sold"},"limitType":{"type":"string","description":"Defines the limit type for the trade"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"fractionalOrder":{"type":"string","description":""},"depositoryId":{"type":"string","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"frontOfficeInstructions":{"type":"string","description":"Optional narrative field for any narrative for the account officer.Field for narrative associated with the Account Officer.Up to 40 alpahnueric characters (Optional Input)."},"approximateSettlementAmount":{"type":"number","format":"int64","description":"The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."},"parent":{"type":"string","description":"This Field is to determine whether the order is a parent order, Allowed value is YES"},"parentReference":{"type":"string","description":"The parent reference that is common for both parent and child orders and will serve as a link."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"dealStatus":{"type":"string","description":"The status of the deal"},"orderStatus":{"type":"string","description":"The order status which can be OPEN, TRANSMITTED, REJECTED, CANCELLATION REQUEST, CANCELLED, MODIFICATION REQUEST, PARTIAL and FILLED"}}},"ScreenHeader":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"transactionStatus":{"type":"string"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"updateSecurityOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateSecurityOrderResponseBody"}},"description":"updateSecurityOrderResponse"},"updateSecurityOrderResponseBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depository":{"type":"string","description":""},"quantity":{"type":"number","description":"The nominal quantity"},"amount":{"type":"number","format":"int64","description":""},"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"price":{"type":"string","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"calculateCharges":{"type":"string","description":"Indiciates whether charges will be calculated. YES or NO."},"chargesGrossOrNet":{"type":"string","description":"Indicates whether the cash amount is to include charges (NET) or havecharges applied in addition (GROSS). If NET, the nominal will be calculated so that when the charges are added to the transaction. If GROSS, the nominal is calculated then the charges are added. NET or GROSS"},"rounding":{"type":"string","description":"Defines the rounding type for the amount calculated or input"},"adjustCommission":{"type":"string","description":"Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."},"customerInstructions":{"type":"string","description":""},"settlementCurrency":{"type":"string","description":"The currency of the trade settlement"},"brokerCommission":{"type":"string","description":"Specifies the amount of Broker Commission charged to the Customer for the tradeField length is 1-15 numeric characters with 0-9 decimal places.The number of decimal places is dependant on the number of decimal places stated on the CURRENCY file, for theTRADE.CCYInput will be carried forward into the subsequent field on SC.EXE.SEC.ORDERS record created"},"foreignFee":{"type":"string","description":"This field Records the Foreign Fee amount charged to the Customer for the trade."},"commission":{"type":"number","format":"int64","description":""},"stampTax":{"type":"string","description":"The Stamp Tax amount charged to the Customer for the trade"},"EBVFee":{"type":"string","description":"This field Records the amount of EBV Fees charged to the Customer for the trade."},"miscellaneousFees":{"type":"string","description":"The amount of miscellaneous fees charged to the Customer for the trade"},"incomeAccount":{"type":"string","description":""},"incomeAccountCurrency":{"type":"string","description":""},"orderAmount":{"type":"number","format":"int64","description":"The amount of the order"},"customerChargeTaxTypes":{"type":"array","items":{"type":"object","properties":{"customerChargeTaxType":{"type":"string","description":""},"customerChargeTaxAmount":{"type":"number","format":"int64","description":""},"customerChargeTaxCode":{"type":"string","description":""}}}}}}},"transactionChannel":{"type":"string","description":"The channel through which the transaction has been placed"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"transactionType":{"type":"string","description":""},"orderDate":{"type":"string","format":"date","description":"The order date of the instructions contained within the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"orderedAt":{"type":"string","description":"The time at which the order has been transacted"},"orderType":{"type":"string","description":"Defines the order type of the transaction"},"limitPrice":{"type":"number","format":"int64","description":"The Price at which the shares are to be bought or sold"},"limitType":{"type":"string","description":"Defines the limit type for the trade"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"fractionalOrder":{"type":"string","description":""},"depositoryId":{"type":"string","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"frontOfficeInstructions":{"type":"string","description":"Optional narrative field for any narrative for the account officer.Field for narrative associated with the Account Officer.Up to 40 alpahnueric characters (Optional Input)."},"approximateSettlementAmount":{"type":"number","format":"int64","description":"The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."},"parent":{"type":"string","description":"This Field is to determine whether the order is a parent order, Allowed value is YES"},"parentReference":{"type":"string","description":"The parent reference that is common for both parent and child orders and will serve as a link."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"dealStatus":{"type":"string","description":"The status of the deal"},"orderStatus":{"type":"string","description":"The order status which can be OPEN, TRANSMITTED, REJECTED, CANCELLATION REQUEST, CANCELLED, MODIFICATION REQUEST, PARTIAL and FILLED"}}},"ErrorHeader":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"transactionStatus":{"type":"string"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"updateSecurityOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateSecurityOrderErrorResponseBody"}},"description":"updateSecurityOrderErrorResponse"},"updateSecurityOrderErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}}},"type":{"type":"string"}}},"getSecurityOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/getSecurityOrderResponseBody"}},"description":"getSecurityOrderResponse"},"getSecurityOrderResponseBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depository":{"type":"string","description":""},"quantity":{"type":"number","description":"The nominal quantity"},"amount":{"type":"number","format":"int64","description":""},"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"price":{"type":"string","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"calculateCharges":{"type":"string","description":"Indiciates whether charges will be calculated. YES or NO."},"chargesGrossOrNet":{"type":"string","description":"Indicates whether the cash amount is to include charges (NET) or havecharges applied in addition (GROSS). If NET, the nominal will be calculated so that when the charges are added to the transaction. If GROSS, the nominal is calculated then the charges are added. NET or GROSS"},"rounding":{"type":"string","description":"Defines the rounding type for the amount calculated or input"},"adjustCommission":{"type":"string","description":"Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."},"customerInstructions":{"type":"string","description":""},"settlementCurrency":{"type":"string","description":"The currency of the trade settlement"},"brokerCommission":{"type":"string","description":"Specifies the amount of Broker Commission charged to the Customer for the tradeField length is 1-15 numeric characters with 0-9 decimal places.The number of decimal places is dependant on the number of decimal places stated on the CURRENCY file, for theTRADE.CCYInput will be carried forward into the subsequent field on SC.EXE.SEC.ORDERS record created"},"foreignFee":{"type":"string","description":"This field Records the Foreign Fee amount charged to the Customer for the trade."},"commission":{"type":"number","format":"int64","description":""},"stampTax":{"type":"string","description":"The Stamp Tax amount charged to the Customer for the trade"},"EBVFee":{"type":"string","description":"This field Records the amount of EBV Fees charged to the Customer for the trade."},"miscellaneousFees":{"type":"string","description":"The amount of miscellaneous fees charged to the Customer for the trade"},"incomeAccount":{"type":"string","description":""},"incomeAccountCurrency":{"type":"string","description":""},"orderAmount":{"type":"number","format":"int64","description":"The amount of the order"},"customerChargeTaxTypes":{"type":"array","items":{"type":"object","properties":{"customerChargeTaxType":{"type":"string","description":""},"customerChargeTaxAmount":{"type":"number","format":"int64","description":""},"customerChargeTaxCode":{"type":"string","description":""}}}}}}},"transactionChannel":{"type":"string","description":"The channel through which the transaction has been placed"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"transactionType":{"type":"string","description":""},"orderDate":{"type":"string","format":"date","description":"The order date of the instructions contained within the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"orderedAt":{"type":"string","description":"The time at which the order has been transacted"},"orderType":{"type":"string","description":"Defines the order type of the transaction"},"limitPrice":{"type":"number","format":"int64","description":"The Price at which the shares are to be bought or sold"},"limitType":{"type":"string","description":"Defines the limit type for the trade"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"fractionalOrder":{"type":"string","description":""},"depositoryId":{"type":"string","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"frontOfficeInstructions":{"type":"string","description":"Optional narrative field for any narrative for the account officer.Field for narrative associated with the Account Officer.Up to 40 alpahnueric characters (Optional Input)."},"approximateSettlementAmount":{"type":"number","format":"int64","description":"The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."},"parent":{"type":"string","description":"This Field is to determine whether the order is a parent order, Allowed value is YES"},"parentReference":{"type":"string","description":"The parent reference that is common for both parent and child orders and will serve as a link."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"dealStatus":{"type":"string","description":"The status of the deal"},"orderStatus":{"type":"string","description":"The order status which can be OPEN, TRANSMITTED, REJECTED, CANCELLATION REQUEST, CANCELLED, MODIFICATION REQUEST, PARTIAL and FILLED"}}},"getSecurityOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getSecurityOrderErrorResponseBody"}},"description":"getSecurityOrderErrorResponse"},"getSecurityOrderErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}}},"type":{"type":"string"}}},"createSecurityOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createSecurityOrderBody"}},"description":"createSecurityOrder"},"createSecurityOrderBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depository":{"type":"string","description":""},"quantity":{"type":"number","description":"The nominal quantity"},"amount":{"type":"number","format":"int64","description":""},"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"price":{"type":"string","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"calculateCharges":{"type":"string","description":"Indiciates whether charges will be calculated. YES or NO."},"chargesGrossOrNet":{"type":"string","description":"Indicates whether the cash amount is to include charges (NET) or havecharges applied in addition (GROSS). If NET, the nominal will be calculated so that when the charges are added to the transaction. If GROSS, the nominal is calculated then the charges are added. NET or GROSS"},"rounding":{"type":"string","description":"Defines the rounding type for the amount calculated or input"},"adjustCommission":{"type":"string","description":"Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."},"customerInstructions":{"type":"string","description":""},"settlementCurrency":{"type":"string","description":"The currency of the trade settlement"},"brokerCommission":{"type":"string","description":"Specifies the amount of Broker Commission charged to the Customer for the tradeField length is 1-15 numeric characters with 0-9 decimal places.The number of decimal places is dependant on the number of decimal places stated on the CURRENCY file, for theTRADE.CCYInput will be carried forward into the subsequent field on SC.EXE.SEC.ORDERS record created"},"foreignFee":{"type":"string","description":"This field Records the Foreign Fee amount charged to the Customer for the trade."},"commission":{"type":"number","format":"int64","description":""},"stampTax":{"type":"string","description":"The Stamp Tax amount charged to the Customer for the trade"},"EBVFee":{"type":"string","description":"This field Records the amount of EBV Fees charged to the Customer for the trade."},"miscellaneousFees":{"type":"string","description":"The amount of miscellaneous fees charged to the Customer for the trade"},"incomeAccount":{"type":"string","description":""},"incomeAccountCurrency":{"type":"string","description":""},"orderAmount":{"type":"number","format":"int64","description":"The amount of the order"},"customerChargeTaxTypes":{"type":"array","items":{"type":"object","properties":{"customerChargeTaxType":{"type":"string","description":""},"customerChargeTaxAmount":{"type":"number","format":"int64","description":""},"customerChargeTaxCode":{"type":"string","description":""}}}}}}},"transactionChannel":{"type":"string","description":"The channel through which the transaction has been placed"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"transactionType":{"type":"string","description":""},"orderDate":{"type":"string","format":"date","description":"The order date of the instructions contained within the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"orderedAt":{"type":"string","description":"The time at which the order has been transacted"},"orderType":{"type":"string","description":"Defines the order type of the transaction"},"limitPrice":{"type":"number","format":"int64","description":"The Price at which the shares are to be bought or sold"},"limitType":{"type":"string","description":"Defines the limit type for the trade"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"fractionalOrder":{"type":"string","description":""},"depositoryId":{"type":"string","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"frontOfficeInstructions":{"type":"string","description":"Optional narrative field for any narrative for the account officer.Field for narrative associated with the Account Officer.Up to 40 alpahnueric characters (Optional Input)."},"approximateSettlementAmount":{"type":"number","format":"int64","description":"The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."},"parent":{"type":"string","description":"This Field is to determine whether the order is a parent order, Allowed value is YES"},"parentReference":{"type":"string","description":"The parent reference that is common for both parent and child orders and will serve as a link."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"dealStatus":{"type":"string","description":"The status of the deal"},"orderStatus":{"type":"string","description":"The order status which can be OPEN, TRANSMITTED, REJECTED, CANCELLATION REQUEST, CANCELLED, MODIFICATION REQUEST, PARTIAL and FILLED"}}},"createSecurityOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createSecurityOrderResponseBody"}},"description":"createSecurityOrderResponse"},"createSecurityOrderResponseBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depository":{"type":"string","description":""},"quantity":{"type":"number","description":"The nominal quantity"},"amount":{"type":"number","format":"int64","description":""},"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"price":{"type":"string","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"calculateCharges":{"type":"string","description":"Indiciates whether charges will be calculated. YES or NO."},"chargesGrossOrNet":{"type":"string","description":"Indicates whether the cash amount is to include charges (NET) or havecharges applied in addition (GROSS). If NET, the nominal will be calculated so that when the charges are added to the transaction. If GROSS, the nominal is calculated then the charges are added. NET or GROSS"},"rounding":{"type":"string","description":"Defines the rounding type for the amount calculated or input"},"adjustCommission":{"type":"string","description":"Determine whether to reduce the commission in order to make the total trade match the cash amount exactly."},"customerInstructions":{"type":"string","description":""},"settlementCurrency":{"type":"string","description":"The currency of the trade settlement"},"brokerCommission":{"type":"string","description":"Specifies the amount of Broker Commission charged to the Customer for the tradeField length is 1-15 numeric characters with 0-9 decimal places.The number of decimal places is dependant on the number of decimal places stated on the CURRENCY file, for theTRADE.CCYInput will be carried forward into the subsequent field on SC.EXE.SEC.ORDERS record created"},"foreignFee":{"type":"string","description":"This field Records the Foreign Fee amount charged to the Customer for the trade."},"commission":{"type":"number","format":"int64","description":""},"stampTax":{"type":"string","description":"The Stamp Tax amount charged to the Customer for the trade"},"EBVFee":{"type":"string","description":"This field Records the amount of EBV Fees charged to the Customer for the trade."},"miscellaneousFees":{"type":"string","description":"The amount of miscellaneous fees charged to the Customer for the trade"},"incomeAccount":{"type":"string","description":""},"incomeAccountCurrency":{"type":"string","description":""},"orderAmount":{"type":"number","format":"int64","description":"The amount of the order"},"customerChargeTaxTypes":{"type":"array","items":{"type":"object","properties":{"customerChargeTaxType":{"type":"string","description":""},"customerChargeTaxAmount":{"type":"number","format":"int64","description":""},"customerChargeTaxCode":{"type":"string","description":""}}}}}}},"transactionChannel":{"type":"string","description":"The channel through which the transaction has been placed"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"transactionType":{"type":"string","description":""},"orderDate":{"type":"string","format":"date","description":"The order date of the instructions contained within the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"orderedAt":{"type":"string","description":"The time at which the order has been transacted"},"orderType":{"type":"string","description":"Defines the order type of the transaction"},"limitPrice":{"type":"number","format":"int64","description":"The Price at which the shares are to be bought or sold"},"limitType":{"type":"string","description":"Defines the limit type for the trade"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"fractionalOrder":{"type":"string","description":""},"depositoryId":{"type":"string","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"frontOfficeInstructions":{"type":"string","description":"Optional narrative field for any narrative for the account officer.Field for narrative associated with the Account Officer.Up to 40 alpahnueric characters (Optional Input)."},"approximateSettlementAmount":{"type":"number","format":"int64","description":"The order value (Nominal x Price ) for each customer in the security currency. If a limit price is input and transaction code is debit, lower price among market and limit price is used for sell and higher price is used for buy. If transaction code is credit, then lowest is used."},"parent":{"type":"string","description":"This Field is to determine whether the order is a parent order, Allowed value is YES"},"parentReference":{"type":"string","description":"The parent reference that is common for both parent and child orders and will serve as a link."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"dealStatus":{"type":"string","description":"The status of the deal"},"orderStatus":{"type":"string","description":"The order status which can be OPEN, TRANSMITTED, REJECTED, CANCELLATION REQUEST, CANCELLED, MODIFICATION REQUEST, PARTIAL and FILLED"}}},"createSecurityOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createSecurityOrderErrorResponseBody"}},"description":"createSecurityOrderErrorResponse"},"createSecurityOrderErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}}},"type":{"type":"string"}}}}}