{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of customers. This includes have associated information such as their address, custom fields or identification documents. It is also possible to search for customers various criteria.","version":"v1.0.0","title":"Party Customers APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/party/customers/":{"get":{"operationId":"searchCustomers","produces":["application/json"],"parameters":[{"name":"customerName","in":"query","required":false,"type":"string"},{"name":"country","in":"query","required":false,"type":"string"},{"name":"postCode","in":"query","required":false,"type":"string"},{"name":"dateOfBirth","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"searchCustomersResponse","schema":{"$ref":"#/definitions/searchCustomersResponse"}},"default":{"description":"searchCustomersErrorResponse","schema":{"$ref":"#/definitions/searchCustomersErrorResponse"}}}}},"/party/customers/{customerId}":{"get":{"operationId":"getCustomerInformation","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getCustomerInformationResponse","schema":{"$ref":"#/definitions/getCustomerInformationResponse"}},"default":{"description":"getCustomerInformationErrorResponse","schema":{"$ref":"#/definitions/getCustomerInformationErrorResponse"}}}}},"/party/customers/{customerId}/beneficiaries":{"get":{"operationId":"getCustomerBeneficiaries","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"nickName","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getCustomerBeneficiariesResponse","schema":{"$ref":"#/definitions/getCustomerBeneficiariesResponse"}},"default":{"description":"getCustomerBeneficiariesErrorResponse","schema":{"$ref":"#/definitions/getCustomerBeneficiariesErrorResponse"}}}}},"/party/customers/{customerId}/alertRequests":{"get":{"operationId":"getAlertRequests","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getAlertRequestsResponse","schema":{"$ref":"#/definitions/getAlertRequestsResponse"}},"default":{"description":"getAlertRequestsErrorResponse","schema":{"$ref":"#/definitions/getAlertRequestsErrorResponse"}}}}},"/party/customers/{customerId}/standingOrders":{"get":{"operationId":"getStandingOrders","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"accountId","in":"query","required":false,"type":"string"},{"name":"orderingCustomerId","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getStandingOrdersResponse","schema":{"$ref":"#/definitions/getStandingOrdersResponse"}},"default":{"description":"getStandingOrdersErrorResponse","schema":{"$ref":"#/definitions/getStandingOrdersErrorResponse"}}}}},"/party/customers/{customerId}/directDebits":{"get":{"operationId":"getDirectDebits","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getDirectDebitsResponse","schema":{"$ref":"#/definitions/getDirectDebitsResponse"}},"default":{"description":"getDirectDebitsErrorResponse","schema":{"$ref":"#/definitions/getDirectDebitsErrorResponse"}}}}},"/party/customers/{customerId}/portfolios/{portfolioId}/overdueSettlements":{"get":{"operationId":"getOverdueSettlements","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"portfolioId","in":"path","required":true,"type":"string"},{"name":"transactionId","in":"query","required":false,"type":"string"},{"name":"brokerId","in":"query","required":false,"type":"string"},{"name":"tradeDate","in":"query","required":false,"type":"string"},{"name":"valueDate","in":"query","required":false,"type":"string"},{"name":"depository","in":"query","required":false,"type":"string"},{"name":"currency","in":"query","required":false,"type":"string"},{"name":"instrumentId","in":"query","required":false,"type":"string"},{"name":"deliveryInstruction","in":"query","required":false,"type":"string"},{"name":"transactionType","in":"query","required":false,"type":"string"},{"name":"quantity","in":"query","required":false,"type":"string"},{"name":"stockExchange","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getOverdueSettlementsResponse","schema":{"$ref":"#/definitions/getOverdueSettlementsResponse"}},"default":{"description":"getOverdueSettlementsErrorResponse","schema":{"$ref":"#/definitions/getOverdueSettlementsErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"searchCustomersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/searchCustomersResponseBody"}},"description":"searchCustomersResponse"},"searchCustomersResponseBody":{"type":"array","items":{"type":"object","properties":{"address":{"type":"array","description":"","items":{"type":"object","properties":{"street":{"type":"array","items":{"type":"string"}},"addressDetails":{"type":"array","items":{"type":"string"}},"addressCity":{"type":"array","items":{"type":"string"}},"postCode":{"type":"array","items":{"type":"string"}},"country":{"type":"array","items":{"type":"string"}}}}},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer.","maxLength":17},"officePhoneNumber":{"type":"string","description":"Office phone numbers.","maxLength":17},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer","maxLength":17},"emailId":{"type":"string","description":"","maxLength":50},"faxId":{"type":"string","description":"!!!, faxNumber","maxLength":17},"dateOfBirth":{"type":"string","format":"date","description":"An individual's date of birth. "},"status":{"type":"string","description":"The status identifier","maxLength":4},"statusName":{"type":"string","description":"The status description","maxLength":4},"customerMnemonic":{"type":"string","description":"Specifies an alternative easy means of referencing the Customer","maxLength":10},"nationalityId":{"type":"string","description":"The identifier of the nationality of a legal entity","maxLength":2},"residenceId":{"type":"string","description":"The residence country identifier","maxLength":2},"accountOfficerId":{"type":"string","description":"The identifier of the account officer","maxLength":4},"industryId":{"type":"string","description":"The identifier of the industry","maxLength":4},"sectorId":{"type":"string","description":"The sector identifier","maxLength":4},"lastName":{"type":"string","description":"The last name of an individual","maxLength":50}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"searchCustomersErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/searchCustomersErrorResponseBody"}},"description":"searchCustomersErrorResponse"},"searchCustomersErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getCustomerInformationResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getCustomerInformationResponseBody"}},"description":"getCustomerInformationResponse"},"getCustomerInformationResponseBody":{"type":"array","items":{"type":"object","properties":{"address":{"type":"array","description":"","items":{"type":"object","properties":{"street":{"type":"array","items":{"type":"string"}},"addressDetails":{"type":"array","items":{"type":"string"}},"addressCity":{"type":"array","items":{"type":"string"}},"postCode":{"type":"array","items":{"type":"string"}},"country":{"type":"array","items":{"type":"string"}}}}},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer.","maxLength":17},"officePhoneNumber":{"type":"string","description":"Office phone numbers.","maxLength":17},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer","maxLength":17},"emailId":{"type":"string","description":"","maxLength":50},"faxId":{"type":"string","description":"!!!, faxNumber","maxLength":17},"dateOfBirth":{"type":"string","format":"date","description":"An individual's date of birth. "},"status":{"type":"string","description":"The status identifier","maxLength":4},"statusName":{"type":"string","description":"The status description","maxLength":4},"customerMnemonic":{"type":"string","description":"Specifies an alternative easy means of referencing the Customer","maxLength":10},"nationalityId":{"type":"string","description":"The identifier of the nationality of a legal entity","maxLength":2},"residenceId":{"type":"string","description":"The residence country identifier","maxLength":2},"accountOfficerId":{"type":"string","description":"The identifier of the account officer","maxLength":4},"industryId":{"type":"string","description":"The identifier of the industry","maxLength":4},"sectorId":{"type":"string","description":"The sector identifier","maxLength":4},"lastName":{"type":"string","description":"The last name of an individual","maxLength":50}}}},"getCustomerInformationErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getCustomerInformationErrorResponseBody"}},"description":"getCustomerInformationErrorResponse"},"getCustomerInformationErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getCustomerBeneficiariesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getCustomerBeneficiariesResponseBody"}},"description":"getCustomerBeneficiariesResponse"},"getCustomerBeneficiariesResponseBody":{"type":"array","items":{"type":"object","properties":{"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"nickName":{"type":"string","description":"The familiar form of a proper name.","maxLength":35},"categoryId":{"type":"string","description":"The identifier of the category","maxLength":35},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank","maxLength":35},"transactionName":{"type":"string","description":"The name of the transaction","maxLength":4},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters.","maxLength":20},"BIC":{"type":"string","description":"","maxLength":35},"IBAN":{"type":"string","description":"","maxLength":35},"linkBeneficiaryId":{"type":"string","description":"The identifier of the linked beneficiary","maxLength":35},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place","maxLength":35},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account.","maxLength":35},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency","maxLength":3},"preferredPaymentAmount":{"type":"number","format":"int64","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"ourCharges":{"type":"string","description":"Charge borne by the bank for providing a financial service","maxLength":35},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides","maxLength":35}}}},"getCustomerBeneficiariesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getCustomerBeneficiariesErrorResponseBody"}},"description":"getCustomerBeneficiariesErrorResponse"},"getCustomerBeneficiariesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getAlertRequestsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getAlertRequestsResponseBody"}},"description":"getAlertRequestsResponse"},"getAlertRequestsResponseBody":{"type":"array","items":{"type":"object","properties":{"alertRequestId":{"type":"string","description":"The identifier of the alert request","maxLength":35},"reference":{"type":"string","description":"","maxLength":35},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"eventId":{"type":"string","description":"The identifier of the event","maxLength":35},"groupId":{"type":"string","description":"The identifier of the group","maxLength":35},"fieldName":{"type":"string","description":"The name of the field","maxLength":50},"operand":{"type":"string","description":"Defines the operand","maxLength":35},"value":{"type":"string","description":"The value of the field on which the Alert criteria is based","maxLength":35}}}},"getAlertRequestsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getAlertRequestsErrorResponseBody"}},"description":"getAlertRequestsErrorResponse"},"getAlertRequestsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getStandingOrdersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getStandingOrdersResponseBody"}},"description":"getStandingOrdersResponse"},"getStandingOrdersResponseBody":{"type":"array","items":{"type":"object","properties":{"standingOrderId":{"type":"string","description":"The unique standing order identifier","maxLength":35},"orderType":{"type":"string","description":"Defines the order type of the transaction","maxLength":5},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"paymentMethod":{"type":"string","description":"The type of method used for the payment","maxLength":4},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"amount":{"type":"number","format":"int64","description":""},"frequency":{"type":"string","description":"","maxLength":50},"counterPartyAccountId":{"type":"string","description":"The identifier of the counter party's account","maxLength":35},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17}}}},"getStandingOrdersErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getStandingOrdersErrorResponseBody"}},"description":"getStandingOrdersErrorResponse"},"getStandingOrdersErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getDirectDebitsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getDirectDebitsResponseBody"}},"description":"getDirectDebitsResponse"},"getDirectDebitsResponseBody":{"type":"array","items":{"type":"object","properties":{"directDebitId":{"type":"string","description":"The identifier of the direct debit mandate. Format is 'D-accountId.sequenceNumber', e.g. D-123456.1","maxLength":25},"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":35},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held","maxLength":35},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"direction":{"type":"string","description":"Specify the direction of the Direct debit claim for which mandate is received.The Claim can be 'Outward' ie. Claim is sent to the Customer's Bank or Inward Claim ie. other Bank submit their claim.Currently the Outward claim processing is supported through DD module & for Inward claim has to be handled through local interface.Mandatory field-Value allowed 'OUTWARD'","maxLength":10},"currency":{"type":"string","description":"","maxLength":3},"standAloneDdi":{"type":"string","description":"Defines whether the direct debit mandate is for stand-alone purpose","maxLength":1},"amount":{"type":"string","description":"","maxLength":19},"status":{"type":"string","description":"The status identifier","maxLength":35},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":25},"startDate":{"type":"string","description":"The start date"},"nextPaymentDate":{"type":"string","description":"","maxLength":25}}}},"getDirectDebitsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getDirectDebitsErrorResponseBody"}},"description":"getDirectDebitsErrorResponse"},"getDirectDebitsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getOverdueSettlementsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getOverdueSettlementsResponseBody"}},"description":"getOverdueSettlementsResponse"},"getOverdueSettlementsResponseBody":{"type":"array","items":{"type":"object","properties":{"broker":{"type":"array","description":"","items":{"type":"object","properties":{"brokerId":{"type":"string","description":"The identifier of the broker","maxLength":10},"brokerName":{"type":"string","description":"The name that is displayed for the broker","maxLength":10},"nostro":{"type":"string","description":""},"nostroCurrency":{"type":"string","description":"The currency of the nostro"},"brokerOutstandingAmount":{"type":"number","format":"int64","description":"The amount outstanding for the broker"},"brokerOutstandingQuantity":{"type":"string","description":"The quantity of the instrument outstanding for the broker","maxLength":19}}}},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":97},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"depository":{"type":"string","description":"","maxLength":10},"depositoryName":{"type":"string","description":"The name that is displayed for the depository"},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade","maxLength":3},"quantity":{"type":"string","description":"The nominal quantity","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":10},"accountCurrency":{"type":"string","description":"The currency of the account","maxLength":3},"customerOutstandingAmount":{"type":"number","format":"int64","description":""},"customerOutstandingQuantity":{"type":"string","description":"","maxLength":19}}}},"getOverdueSettlementsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getOverdueSettlementsErrorResponseBody"}},"description":"getOverdueSettlementsErrorResponse"},"getOverdueSettlementsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}