{"swagger":"2.0","info":{"description":"Retrieves product group information that is used by the legal entity","version":"v1.0.0","title":"Product Product Groups APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/product/productGroups":{"get":{"operationId":"getProductGroups","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getProductGroupsResponse","schema":{"$ref":"#/definitions/getProductGroupsResponse"}},"default":{"description":"getProductGroupsErrorResponse","schema":{"$ref":"#/definitions/getProductGroupsErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getProductGroupsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getProductGroupsResponseBody"}},"description":"getProductGroupsResponse"},"getProductGroupsResponseBody":{"type":"array","items":{"type":"object","properties":{"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"productLineId":{"type":"string","description":"The identifier of the product line","maxLength":20},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getProductGroupsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getProductGroupsErrorResponseBody"}},"description":"getProductGroupsErrorResponse"},"getProductGroupsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}