{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of product builder projects to create and publish products","version":"v1.0.0","title":"Product Properties APIs"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/product/properties/":{"get":{"operationId":"getProperties","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getPropertiesResponse","schema":{"$ref":"#/definitions/getPropertiesResponse"}},"default":{"description":"getPropertiesErrorResponse","schema":{"$ref":"#/definitions/getPropertiesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getPropertiesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getPropertiesResponseBody"}},"description":"getPropertiesResponse"},"getPropertiesResponseBody":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property","maxLength":30},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":50},"propertyClass":{"type":"string","description":"","maxLength":30},"propertyType":{"type":"string","description":"The property type of the arrangement e.g. Forward.dated, product.only, credit etc.","maxLength":25}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getPropertiesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getPropertiesErrorResponseBody"}},"description":"getPropertiesErrorResponse"},"getPropertiesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}