{"swagger":"2.0","info":{"description":"Retrieves human readable descriptions of interest conditions","version":"v1.0.0","title":"Reference Treasury Dealers API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/dealers":{"get":{"operationId":"getDealers","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getDealersResponse","schema":{"$ref":"#/definitions/getDealersResponse"}},"default":{"description":"getDealersErrorResponse","schema":{"$ref":"#/definitions/getDealersErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getDealersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getDealersResponseBody"}},"description":"getDealersResponse"},"getDealersResponseBody":{"type":"array","items":{"type":"object","properties":{"dealerId":{"type":"string","description":"The identifier of the dealer","maxLength":2},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":15}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getDealersErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getDealersErrorResponseBody"}},"description":"getDealersErrorResponse"},"getDealersErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}