{"swagger":"2.0","info":{"description":"Retrieves human readable descriptions of balance types","version":"v1.0.0","title":"Reference Balance Types API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/balanceTypes":{"get":{"operationId":"getBalanceTypes","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getBalanceTypesResponse","schema":{"$ref":"#/definitions/getBalanceTypesResponse"}},"default":{"description":"getBalanceTypesErrorResponse","schema":{"$ref":"#/definitions/getBalanceTypesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getBalanceTypesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getBalanceTypesResponseBody"}},"description":"getBalanceTypesResponse"},"getBalanceTypesResponseBody":{"type":"array","items":{"type":"object","properties":{"balanceType":{"type":"string","description":""},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"reportingType":{"type":"string","description":"Defines how the balance should be used with respect to reporting"},"updateAcctActivity":{"type":"string","description":"Defines whether theaccount activity table is to be updated for a particular balance type","maxLength":2}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getBalanceTypesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getBalanceTypesErrorResponseBody"}},"description":"getBalanceTypesErrorResponse"},"getBalanceTypesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}