{"swagger":"2.0","info":{"description":"Retrieves the brokers that are used by the organization","version":"v1.0.0","title":"Reference Brokers API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/brokers":{"get":{"operationId":"getBrokers","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getBrokersResponse","schema":{"$ref":"#/definitions/getBrokersResponse"}},"default":{"description":"getBrokersErrorResponse","schema":{"$ref":"#/definitions/getBrokersErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getBrokersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getBrokersResponseBody"}},"description":"getBrokersResponse"},"getBrokersResponseBody":{"type":"array","items":{"type":"object","properties":{"brokerId":{"type":"string","description":"The identifier of the broker","maxLength":10},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getBrokersErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getBrokersErrorResponseBody"}},"description":"getBrokersErrorResponse"},"getBrokersErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}