{"swagger":"2.0","info":{"description":"Retrieves the working day information that is used by the organization, either a list for all legal entities or for a specific legal entity.","version":"v1.0.0","title":"Reference Dates API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/dates":{"get":{"operationId":"getDates","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getDatesResponse","schema":{"$ref":"#/definitions/getDatesResponse"}},"default":{"description":"getDatesErrorResponse","schema":{"$ref":"#/definitions/getDatesErrorResponse"}}}}},"/reference/dates/{companyId}":{"get":{"operationId":"getDatesByCompany","produces":["application/json"],"parameters":[{"name":"companyId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getDatesByCompanyResponse","schema":{"$ref":"#/definitions/getDatesByCompanyResponse"}},"default":{"description":"getDatesByCompanyErrorResponse","schema":{"$ref":"#/definitions/getDatesByCompanyErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getDatesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getDatesResponseBody"}},"description":"getDatesResponse"},"getDatesResponseBody":{"type":"array","items":{"type":"object","properties":{"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","maxLength":15},"currentWorkingDate":{"type":"string","format":"date","description":"Identifies the date of business being processed in the financial Instituion."},"lastWorkingDate":{"type":"string","format":"date","description":"Date of the last business day processed for the financial institution"},"nextWorkingDate":{"type":"string","format":"date","description":"This is the state of the next business day which will be processed in this Company."}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getDatesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getDatesErrorResponseBody"}},"description":"getDatesErrorResponse"},"getDatesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}},"getDatesByCompanyResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getDatesByCompanyResponseBody"}},"description":"getDatesByCompanyResponse"},"getDatesByCompanyResponseBody":{"type":"array","items":{"type":"object","properties":{"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","maxLength":15},"currentWorkingDate":{"type":"string","format":"date","description":"Identifies the date of business being processed in the financial Instituion."},"lastWorkingDate":{"type":"string","format":"date","description":"Date of the last business day processed for the financial institution"},"nextWorkingDate":{"type":"string","format":"date","description":"This is the state of the next business day which will be processed in this Company."}}}},"getDatesByCompanyErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getDatesByCompanyErrorResponseBody"}},"description":"getDatesByCompanyErrorResponse"},"getDatesByCompanyErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}