{"swagger":"2.0","info":{"description":"Retrieves periodic interest information that is used by the legal entity","version":"v1.0.0","title":"Reference Period Dates API"},"host":"api.temenos.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/reference/periodDates/{currencyOrPair}":{"get":{"operationId":"getInterestBases","produces":["application/json"],"parameters":[{"name":"currencyOrPair","in":"path","required":true,"type":"string"},{"name":"fromDate","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getInterestBasesResponse","schema":{"$ref":"#/definitions/getInterestBasesResponse"}},"default":{"description":"getInterestBasesErrorResponse","schema":{"$ref":"#/definitions/getInterestBasesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getInterestBasesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getInterestBasesResponseBody"}},"description":"getInterestBasesResponse"},"getInterestBasesResponseBody":{"type":"array","items":{"type":"object","properties":{"displacement":{"type":"string","description":""},"date":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getInterestBasesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getInterestBasesErrorResponseBody"}},"description":"getInterestBasesErrorResponse"},"getInterestBasesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}